<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.materialdesign">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name="com.materialdesign.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.materialdesign.module.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.materialdesign.module.ButtonColorActivity"
            android:screenOrientation="portrait"
            android:label="ButtonColor" >
            <intent-filter>
                <action android:name="com.materialdesign.BUTTON_COLOR"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.materialdesign.module.PercentLayoutActivity"
            android:screenOrientation="portrait"
            android:label="PercentLayout"
            android:parentActivityName=".module.MainActivity">
            <intent-filter>
                <action android:name="com.materialdesign.PERCENT_LAYOUT"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.materialdesign.module.DataBindingActivity"
            android:screenOrientation="portrait"
            android:label="DataBinding">
            <intent-filter>
                <action android:name="com.materialdesign.DATA_BINDING"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.materialdesign.module.RecycleViewActivity"
            android:screenOrientation="portrait"
            android:label="RecycleView">
            <intent-filter>
                <action android:name="com.materialdesign.RECYCLE_VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.materialdesign.module.NetworkActivity"
            android:screenOrientation="portrait"
            android:label="Network">
            <intent-filter>
                <action android:name="com.materialdesign.NETWORK"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.TabActivity"
            android:screenOrientation="portrait"
            android:label="Tabs">
            <intent-filter>
                <action android:name="com.materialdesign.TABS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.KotlinActivity"
            android:screenOrientation="portrait"
            android:label="Kotlin">
            <intent-filter>
                <action android:name="com.materialdesign.KOTLIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
